<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cesaretransportes</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ConfiguracaoDeContaServlet</display-name>
    <servlet-name>ConfiguracaoDeContaServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.ConfiguracaoDeContaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfiguracaoDeContaServlet</servlet-name>
    <url-pattern>/ConfiguracaoDeContaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuscaServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.BuscaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscaServlet</servlet-name>
    <url-pattern>/buscar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrcamentoServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.OrcamentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrcamentoServlet</servlet-name>
    <url-pattern>/enviarOrcamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContatoServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.ContatoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContatoServlet</servlet-name>
    <url-pattern>/enviarContato</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CadastrarCliente</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.ClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCliente</servlet-name>
    <url-pattern>/cadastrarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MostrarListaDosEmailsServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.MostrarListaDosEmailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarListaDosEmailsServlet</servlet-name>
    <url-pattern>/mostrarListaDosContatos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MostrarListaDosOrcamentos</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.MostrarListaDosOrcamentosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarListaDosOrcamentos</servlet-name>
    <url-pattern>/mostrarListaDosOrcamentos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessarAcaoServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.ProcessarAcaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessarAcaoServlet</servlet-name>
    <url-pattern>/processarAcao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessarAcaoOrcamentoServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.ProcessarAcaoOrcamentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessarAcaoOrcamentoServlet</servlet-name>
    <url-pattern>/processarAcaoOrcamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecuperarSenhaServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.RecuperarSenhaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecuperarSenhaServlet</servlet-name>
    <url-pattern>/recuperarSenha</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VeiculoServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.VeiculoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeiculoServlet</servlet-name>
    <url-pattern>/cadastrarVeiculo</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>RequestFilter</display-name>
    <filter-name>RequestFilter</filter-name>
    <filter-class>br.com.cesaretransportes.util.RequestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidLoginServlet</display-name>
    <servlet-name>AndroidLoginServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidLoginServlet</servlet-name>
    <url-pattern>/AndroidLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidClienteDeletar</display-name>
    <servlet-name>AndroidClienteDeletar</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidClienteDeletar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidClienteDeletar</servlet-name>
    <url-pattern>/AndroidClienteDeletar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidClienteVisualizarTodos</display-name>
    <servlet-name>AndroidClienteVisualizarTodos</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidClienteVisualizarTodos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidClienteVisualizarTodos</servlet-name>
    <url-pattern>/AndroidClienteVisualizarTodos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidClienteConfirmar</display-name>
    <servlet-name>AndroidClienteConfirmar</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidClienteConfirmar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidClienteConfirmar</servlet-name>
    <url-pattern>/AndroidClienteConfirmar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidVeiculoVisualizarTodos</display-name>
    <servlet-name>AndroidVeiculoVisualizarTodos</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidVeiculoVisualizarTodos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidVeiculoVisualizarTodos</servlet-name>
    <url-pattern>/AndroidVeiculoVisualizarTodos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClienteAcaoServlet</display-name>
    <servlet-name>ClienteAcaoServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.ClienteAcaoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteAcaoServlet</servlet-name>
    <url-pattern>/ClienteAcaoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidVeiculoDeletar</display-name>
    <servlet-name>AndroidVeiculoDeletar</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidVeiculoDeletar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidVeiculoDeletar</servlet-name>
    <url-pattern>/AndroidVeiculoDeletar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidClienteVisualizar</display-name>
    <servlet-name>AndroidClienteVisualizar</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidClienteVisualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidClienteVisualizar</servlet-name>
    <url-pattern>/AndroidClienteVisualizar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidVeiculoEditar</display-name>
    <servlet-name>AndroidVeiculoEditar</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidVeiculoEditar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidVeiculoEditar</servlet-name>
    <url-pattern>/AndroidVeiculoEditar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidOrcamentoVisualizarTodos</display-name>
    <servlet-name>AndroidOrcamentoVisualizarTodos</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidOrcamentoVisualizarTodos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidOrcamentoVisualizarTodos</servlet-name>
    <url-pattern>/AndroidOrcamentoVisualizarTodos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CetransServletException</display-name>
    <servlet-name>CetransServletException</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.CetransServletException</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CetransServletException</servlet-name>
    <url-pattern>/CetransServletException</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidOrcamentoDeletar</display-name>
    <servlet-name>AndroidOrcamentoDeletar</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidOrcamentoDeletar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidOrcamentoDeletar</servlet-name>
    <url-pattern>/AndroidOrcamentoDeletar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidOrcamentoCadastrar</display-name>
    <servlet-name>AndroidOrcamentoCadastrar</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidOrcamentoCadastrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidOrcamentoCadastrar</servlet-name>
    <url-pattern>/AndroidOrcamentoCadastrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidClienteAlterarDados</display-name>
    <servlet-name>AndroidClienteAlterarDados</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidClienteAlterarDados</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidClienteAlterarDados</servlet-name>
    <url-pattern>/AndroidClienteAlterarDados</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidRecuperarSenha</display-name>
    <servlet-name>AndroidRecuperarSenha</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidRecuperarSenha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidRecuperarSenha</servlet-name>
    <url-pattern>/AndroidRecuperarSenha</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidContatoCadastrar</display-name>
    <servlet-name>AndroidContatoCadastrar</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidContatoCadastrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidContatoCadastrar</servlet-name>
    <url-pattern>/AndroidContatoCadastrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidResponderOrcamento</display-name>
    <servlet-name>AndroidResponderOrcamento</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidResponderOrcamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidResponderOrcamento</servlet-name>
    <url-pattern>/AndroidResponderOrcamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidEnviarEmail</display-name>
    <servlet-name>AndroidEnviarEmail</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidEnviarEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidEnviarEmail</servlet-name>
    <url-pattern>/AndroidEnviarEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidOrcamentoUpdateLido</display-name>
    <servlet-name>AndroidOrcamentoUpdateLido</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidOrcamentoUpdateLido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidOrcamentoUpdateLido</servlet-name>
    <url-pattern>/AndroidOrcamentoUpdateLido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecadastrarClienteServlet</display-name>
    <servlet-name>RecadastrarClienteServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.RecadastrarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecadastrarClienteServlet</servlet-name>
    <url-pattern>/RecadastrarClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidRecadastrarCliente</display-name>
    <servlet-name>AndroidRecadastrarCliente</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidRecadastrarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidRecadastrarCliente</servlet-name>
    <url-pattern>/AndroidRecadastrarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidOrcamentosPorCliente</display-name>
    <servlet-name>AndroidOrcamentosPorCliente</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidOrcamentosPorCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidOrcamentosPorCliente</servlet-name>
    <url-pattern>/AndroidOrcamentosPorCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidServicosPorCliente</display-name>
    <servlet-name>AndroidServicosPorCliente</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidServicosPorCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidServicosPorCliente</servlet-name>
    <url-pattern>/AndroidServicosPorCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidOrcamentosPorVeiculo</display-name>
    <servlet-name>AndroidOrcamentosPorVeiculo</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidOrcamentosPorVeiculo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidOrcamentosPorVeiculo</servlet-name>
    <url-pattern>/AndroidOrcamentosPorVeiculo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidConfirmarOrcamento</display-name>
    <servlet-name>AndroidConfirmarOrcamento</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidConfirmarOrcamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidConfirmarOrcamento</servlet-name>
    <url-pattern>/AndroidConfirmarOrcamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidEmpresaVisualizar</display-name>
    <servlet-name>AndroidEmpresaVisualizar</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidEmpresaVisualizar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidEmpresaVisualizar</servlet-name>
    <url-pattern>/AndroidEmpresaVisualizar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessarAcaoServico</display-name>
    <servlet-name>ProcessarAcaoServico</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.ProcessarAcaoServico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessarAcaoServico</servlet-name>
    <url-pattern>/ProcessarAcaoServico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidEnderecosPorOrcamento</display-name>
    <servlet-name>AndroidEnderecosPorOrcamento</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidEnderecosPorOrcamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidEnderecosPorOrcamento</servlet-name>
    <url-pattern>/AndroidEnderecosPorOrcamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidVerificarCliente</display-name>
    <servlet-name>AndroidVerificarCliente</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidVerificarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidVerificarCliente</servlet-name>
    <url-pattern>/AndroidVerificarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidExcluirServico</display-name>
    <servlet-name>AndroidExcluirServico</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.AndroidExcluirServico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidExcluirServico</servlet-name>
    <url-pattern>/AndroidExcluirServico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpresaServlet</display-name>
    <servlet-name>EmpresaServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.EmpresaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpresaServlet</servlet-name>
    <url-pattern>/EmpresaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PerfilServlet</display-name>
    <servlet-name>PerfilServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.PerfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfilServlet</servlet-name>
    <url-pattern>/PerfilServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClienteOpcaoConsultaServlet</display-name>
    <servlet-name>ClienteOpcaoConsultaServlet</servlet-name>
    <servlet-class>br.com.cesaretransportes.servlet.ClienteOpcaoConsultaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteOpcaoConsultaServlet</servlet-name>
    <url-pattern>/ClienteOpcaoConsultaServlet</url-pattern>
  </servlet-mapping>
</web-app>